# Compiled class file
*.class
*.log
.DS_Store
.history
.svn/

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

/target/
/bin/
/test-bin/
